aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
Examples
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
ogre.cfg
Ogre.log
stamp-h1
.deps
CEGUI.log
resources.cfg

# Object files
*.o

# Executable
DodgeCat

# Emacs temp files
\#*\#
*~
.\#*
